Operators

Python Class 03

In [ ]:
import pandas as pd
table = pd.read_html("https://www.w3schools.com/python/python_operators.asp")
table[0]

In [ ]:
import pandas as pd
table = pd.read_html("https://www.w3schools.com/python/python_operators.asp")
table[0]

In [ ]:
%conda install pandas

In [2]:
a:int=67
print(a//2)

33

In [5]:
a=8
print(b:=4,b)

4 4 4

a:str="a"
A:str="A"
print(a is A)

In [9]:
a:str="a"
A:str="A"
print(a is not A)

True

In [10]:
name:str="danish"
A:str="A"
print(not name==A)

True

In [11]:
name:str="danish"
A:str="A"
print(name is A)

False

In [15]:
names:list[str]=[chr(i) for i in range(65,95)]
print(names)
print("A" in names)

NameError: name 'i' is not defined

Other Method

In [21]:
names:list[str]=[chr(i) for i in range(65,91)]
for i in range(len(names)):
 print(i,names[i])
print("A" in names)

0 A
1 B
2 C
3 D
4 E
5 F
6 G
7 H
8 I
9 J
10 K
11 L
12 M
13 N
14 O
15 P
16 Q
17 R
18 S
19 T
20 U
21 V
22 W
23 X
24 Y
25 Z
True

In [24]:
names:list[str]=["Danish","Mustafa","Ahmad"]
userInput:str=input("Please enter your name")
userInput in names
# userInput not in names

True

In [26]:
n:int=7
"""if (n<(b:=n+8)):
if (n<(b:=n+8)):"""
if (n<(b:=n+8)):
 print(b)

15